.aws-btn {
--slider-height-percentage: 150px;
--slider-transition-duration: 100ms;
--organic-arrow-thickness: 5px;
--organic-arrow-border-radius: 0px;
--organic-arrow-height: 33px;
--organic-arrow-color: #ffffff;
--control-button-width: 11%;
--control-button-height: 25%;
--control-button-background: transparent;
--control-bullet-color: #929292;
--control-bullet-active-color: #ffffff;
--loader-bar-color: #851515;
--loader-bar-height: 6px;
}